body{
    text-align: center;
    background-color: #CDFCF6;
}

label{
    display:block;
    padding-bottom:1 rem;
}

#initial-price{
    padding-bottom: 2rem;
}

.input{
    margin-bottom: 20px;
    size: 20vw;
}

button{
    background-color: #5F9DF7;
    
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 80%;

  


}